.dark-mode {
    background-color: inherit;
    padding: 1em;
}

@media (prefers-color-scheme: dark) {
    .dark-mode {
        background-color: #444;
        color: #eee;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }