<div class="dark-mode">
    <h1>material sample</h1>
    
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    
    <ln-menu>
        <ln-menu-item>Order History</ln-menu-item>
        <ln-menu-item>Account</ln-menu-item>
        <ln-menu-item>Logout</ln-menu-item>
    </ln-menu>

    <ul cdkMenu>
        <li>
            <button cdkMenuItem>inbox</button>
        </li>
        <li>
            <button cdkMenuItem>log out</button>
        </li>
    </ul>

</div>