<nav>       
    <div class="nav-container">
        <ul class="nav-items">
            <li><a [routerLink]="['changedetect']" routerLinkActive="active-link">change detect</a></li>
            <li><a [routerLink]="['attrdemo']" routerLinkActive="active-link">custom attribute sample</a></li>
            <li><a [routerLink]="['materialdemo']" routerLinkActive="active-link">material sample</a></li>
            <li><a [routerLink]="['scroll']" routerLinkActive="active-link">scroll service</a></li>
            <li><a [routerLink]="['deeprouting']" routerLinkActive="active-link">nested routing</a></li>
        </ul>
    </div>
</nav>