@use "../styles/color-funs" as *;

nav {
    .nav-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 0.5em;

        li {
            list-style: none;
            a {
                --btn-hue: 220;
                --btn-saturation: 70%;
                color: #eee;
                @include set-color();
                padding: 0.5em 0.75em;
            }
            .active-link {
                --btn-hue: 210;
                --btn-saturation: 100%;
                @include set-color();
                color: white;
            }
        }
    }
}
