nav{
    
    .nav-items{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0; 

        
        li{
            list-style: none;
            a{
                color: darkblue;
                padding: .5em .75em;
            }
            .active-link{
                background-color: darkblue;
                color: white;
            }
        }
    }
}