<h1>Change Detect Demo</h1>
<div class="container">
    <app-default-counter [Counter]='Counter'></app-default-counter>
    <div class="sub-container">
        <span>
            did not change the ref
        </span>
        <app-push-counter [Counter]='Counter'></app-push-counter>
    </div>
    <app-push-counter [Counter]='CounterPush'></app-push-counter>
    <div class="mb-3">
        <app-push-counter2 [Counter]='Counter'></app-push-counter2>
    </div>
    <app-push-counter3 [Counter]='CounterObs'></app-push-counter3>
    <app-push-counter4 [Counter]='CounterObs'></app-push-counter4>
    <button type="button" (click)="incCount()">Increase Count</button>
</div>