@use 'styles/mat_theme';
/* You can add global styles to this file, and also import other style files */
:root{
    --btn-hue:220;
    --btn-saturation:100%;
    --btn-lightness:50%;
}

html,
body {
    height: 100%;
}
body {
    margin: 1em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
    font-weight: normal;
}
