@use "styles/mat_theme";
/* You can add global styles to this file, and also import other style files */
:root {
    --btn-hue: 220;
    --btn-saturation: 100%;
    --btn-lightness: 50%;
    --ngapp-primary-color: hsl(216 98% 52%);
    --ngapp-secondary-color: #880e4f;
}

html,
body {
    height: 100%;
}
body {
    margin: 1em;
    font-family: Rubik, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
    font-weight: normal;
}

.sub-nav-bar {
    display: flex;

    & ul {
        padding-inline: 0em;
        & li {
            display: inline-block;
            margin-inline: 0.5em;
            list-style: none;
            & a {
                color: var(--ngapp-secondary-color);
                text-decoration: none;
            }
            .active {
                text-underline-position: under;
                text-underline-offset: 0.2em;
                text-decoration-line: underline;
                text-decoration-thickness: 0.25em;
            }
        }
    }
}
